name: 'Renovate Config Validation'

on:
  pull_request:
    paths:
      - '.github/renovate.json5'

jobs:
  validate:
    name: 'Validate'
    runs-on: 'ubuntu-24.04'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6
      - name: 'Validate the Renovate configuration'
        uses: 'suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e' # v1.1.1
        with:
          strict: true
